@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

:root {
  font-family:'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: inline-block;
  border: 3px solid black;
  min-width: 25vw;
  width: auto;
  height: auto;
  border-radius: 2%;
}

h1 {
  border-bottom: 3px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to__deliver {
  display: flex;
  flex-direction: column;

  div {
    margin: 1rem;
    display: flex;
    justify-content: space-between;

    label {
      margin-left: 0.002rem;
    }
  }

  &-value,
  &-distance,
  &-items,
  &-time {
    font: 0.8 "Poppins";

    ::placeholder {
      font-family: "Poppins";
    }
  }

  button {
    margin: 1rem 7rem;
    font-weight: 500;
    font-size: medium;
  }
}

.result {
  font-size: medium;
  margin: 0 2vw 1rem 2vw;
  text-align: center;

  &-accepted {
    font-weight: bold;
    color: rgba(0, 128, 0, 0.725);
  }
  &-rejected {
    font-weight: bold;
    color: orange;
  }
}

.error {
  margin: 0 2vw 1rem 2vw;
  text-align: center;

  &-title {
    font-weight: bold;
    color: red;
  }
}
